@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

/* Add this to your style.css */
.form-select {
  max-width: 100%; /* Ensures the select element does not overflow its container */
  overflow: hidden; /* Prevents the selected option text from spilling out */
  text-overflow: ellipsis; /* Displays an ellipsis if the text overflows */
  white-space: normal; /* Keeps the text on a single line */
}


/* Add this to your style.css */
.form-select option {
  max-width: 100%; /* Limit the width of the option text */
  overflow: hidden; /* Prevent text from spilling outside the element's bounds */
  text-overflow: ellipsis; /* Use an ellipsis to indicate text overflow */
  white-space: normal; /* Keep the option text on a single line */
  word-wrap: break-word;
}


/* Ensure that the select and input elements have consistent styling */
.form-select,
.form-control {
  height: 38px; 
  padding: 6px 12px; 
  font-size: 16px; 
}

/* Adjust Select2 to match the style and size of regular inputs */
.select2-container--default .select2-selection--single {
  height: 38px; /* Match the height of Bootstrap's form controls */
  padding: 6px 12px; 
  font-size: 16px; /* Match font size */
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 26px; /* Adjust line height to vertically center the text */
  padding: 0;
}

/* Ensure the dropdown options are readable */
.select2-container--default .select2-results__option {
  white-space: normal; /* Allows option text to wrap */
  word-wrap: break-word; /* Ensures words wrap to prevent horizontal scrolling */
}


